default:
  image:
    name: leviathanch/libresilicon-tools:latest 
    entrypoint: [""]

stages:
  - build

ls1u_lib:
  stage: build
  script:
    - |
	  rm -f Tech 
	  ln -s Tech.LS1UM Tech
      . /root/env/bin/activate
	  cd Catalog
	  make layout
	  cd ..
	  ls
      cp -r Catalog/outputlib ls1u_lib

  artifacts:
    paths:
      - ls1u_lib

gf180_lib:
  stage: build
  script:
    - |
	  rm -f Tech 
	  ln -s Tech.GF180MCU Tech
      . /root/env/bin/activate
	  cd Catalog
	  make layout
	  cd ..
	  ls
      cp -r Catalog/outputlib gf180_lib
  artifacts:
    paths:
      - gf180_lib

sky130_lib:
  stage: build
  script:
    - |
	  rm -f Tech 
	  ln -s Tech.SKY130 Tech
      . /root/env/bin/activate
	  cd Catalog
	  make layout
	  cd ..
	  ls
      cp -r Catalog/outputlib sky130_lib

  artifacts:
    paths:
      - sky130_lib

